{{!-- includes a table displaying all of the blog posts in the system, with options to edit or delete each post.  --}}
<link rel="stylesheet" href="../../public/css/main.css">

<div class="posts list-group">
{{#each posts}}
<a class="list-item" href="/dashbaord/edit/{{id}}">
<span>{{title}}</span>
<span>{{createdAt}}</span>
</a>
{{/each}}
</div>
